@import "../../styles/template";
@import "../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;

  width: 48%;
  gap: 20px;

  .select,
  .input {
    border: 1px solid $color-light-grey;
    border-radius: $border-radius;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2em;

    @media (max-width: 568px) {
      font-size: 18px;
    }
  }

  .select {
    padding: 15px 10px;

    @media (max-width: 568px) {
      padding: 12px 8px;
    }
  }

  .input {
    padding: 25px 10px;

    font-size: 35px;

    @media (max-width: 568px) {
      padding: 20px 8px;

      font-size: 30px;
    }

    @media (max-width: 420px) {
      padding: 12px 8px;

      font-size: 30px;
    }
  }
}
